<div class="row" ng-controller="barCtrl">
	<div class="col-md-4">
		<div class="panel panel-default chart-info-panel">
			<div class="panel-body">
				<div class="chart-info-label panel-title"> 
					<b> Bar Chart Info </b>
					<button class="btn btn-default btn-sm pull-right" title="Reset" ng-click="reset()"><span class="glyphicon glyphicon-refresh pull-right"></span></button>
				</div>
					
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label"> Title </label>
						<div class="col-md-9">
							<input type="text" class="form-control" ng-model="title" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-5 col-md-offset-3">
							<a class="btn btn-success btn-sm" ng-click="addData()" title="Add bars"><span class="glyphicon glyphicon-plus"></span></a>
							<a class="btn btn-danger btn-sm" ng-click="removeData()" title="Remove bars"><span class="glyphicon glyphicon-minus"></span></a>
						</div>
					</div>
				</form>
				<hr class="divider">
				
				<div ng-repeat="i in countArray" class="{{getIndexDropup($index)}}" >
						
					<a data-toggle="collapse" href="#bar-collapse-{{$index + 1}}" class="panel-title" ng-click="toggleDropup($index)"><b>Bar {{$index + 1}}</b><span class="caret"></span></a>
					
					<div id="bar-collapse-{{$index + 1}}" class="info-list panel-collapse collapse {{collapseIndex($index)}}">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-md-4 control-label"> Value </label>
								<div class="col-md-7">
									<input type="number" class="form-control" ng-model="values[$index]" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"> Label </label>
								<div class="col-md-7">
									<input type="text" class="form-control" ng-model="labels[$index]" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"> Color </label>
								<div class="col-md-3">
									<input type="color" class="form-control" ng-model="colors[$index]" />
								</div>
							</div>
						</form>
					</div>
					<hr class="divider">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4 class="chart-title" id="barChartTitle">{{getTitle()}}</h4>      
				<div class="panel-body" id="barChartContainer">
					<canvas id="barChart" ng-init="loadChart();"></canvas>
				</div>
				<button class="btn" ng-click="download('#barChart','#barChartTitle')">Download PDF</button>
			</div>
		</div>
	</div>
</div>