.chart-info-panel {
	max-height: 700;
	overflow-y: auto;
}

.chart-info-label {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee;
}

.btn-text {
	font-size: 20px;
}

.info-list {
	padding-top: 10px;
}

.x-axis-label {
	text-align: right;
	font-weight: 500;
	padding-top: 7px;
}

.chart-title {
	text-align: center;
	font-weight: 700;
}